---
Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -2
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
ColumnLimit: 120
Cpp11BracedListStyle: false
DerivePointerAlignment: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^"'
    Priority:        0
    SortPriority:    1
  - Regex:           '^<.*\.(h|hpp|hxx)>'
    Priority:        3
  - Regex:           '^<'
    Priority:        4
  - Regex:           '.*'
    Priority:        5
IndentCaseLabels: false
IndentPPDirectives: BeforeHash
PointerAlignment: Middle
QualifierAlignment: Right
UseTab: Never
...
