[submodule "deps/asio"]
	path = deps/asio
	url = https://github.com/chriskohlhoff/asio/
	shallow = true
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest
	shallow = true
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
	shallow = true
